
body 
{
    margin: 0;
    min-height: 100vh;
    background-color: darkslateblue;
}

h1 
{
    color: white;
    font-size: x-large;
    text-align: centre;
    padding: 16px;
}

h2
{
    color: white;
    font-size: large;
    text-align: centre;
    font: italic;
    padding: 16px;
}

h3
{
    color: white;
    font-size: medium;
    text-align: centre;
    padding: 16px;
}